##############################
## Folders                  ##
##############################
.idea
__pycache__
*.pyc
result*
result
data/
*.zip
*.rar
flask_session/
test/
*.vsdx
logs/
docs/falcon/
venv/
local_config.py