tqdm==4.36.1
Flask_Script==2.0.6
Flask_Session==0.3.2
numpy==1.22.0rc1
matplotlib==2.1.0
pandas==0.25.1
scipy==0.19.1
paramiko==2.6.0
Flask==1.1.1
scp==0.13.2
scikit_learn==0.21.3
anytree==2.8.0
cffi==1.14.0