<div id="my-graph-left">
        <div id="setting">
            <div id="toolbar-title">SETTING</div>
            <div class="dataset-container">
                <label id="img_category_label"class="field"for="img_category"data-value="">
                    <span class="pulldown-icon">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope iron-icon"><path d="M7 10l5 5 5-5z" class="pulldown-icon-path"></path></g></svg>
                    </span>
                <span class="control-subtitle-font">Dataset</span>
                    <div id="img_category"class="psuedo_select pulldown-dataset"name="img_category" >

                        <span class="selected"></span>
                        <ul id="img_category_options"class="options">
                            <li class="option"data-value="stl-20-500" id="stl-20-500">stl-20-500</li>
                            <li class="option"data-value="stl-20-2000" id="stl-20-2000">stl-20-2000</li>
                            <li class="option"data-value="stl-1000-20000" id="stl-1000-20000">stl-1000-20000</li>
                            <li class="option"data-value="stl-50-20000" id="stl-50-20000">stl-50-20000</li>
                            <li class="option"data-value="stl-50-12000" id="stl-50-12000">stl-50-12000</li>
                            <li class="option"data-value="stl-50-12284" id="stl-50-12284">stl-50-12284</li>
                            <li class="option"data-value="oct-1000-10000" id="oct-1000-10000">oct-1000-10000</li>
                        </ul>

                    </div>
                </label>
                <div class="container-legend">
                    <span id="labeled-num" class="plain-text"> - Labeled data</span>
                    <span id="unlabeled-num" class="plain-text"> - Unlabeled data</span>
                </div>
            </div>
            <div class="slider-container">
                <div>
                    <div class="control-subtitle-font plain-text">
                        <span>Number of NN (k) for kNN graph:</span>
                        <span id="k-value">3</span>
                    </div>
                    <div id="global-k-div">
                        <input id="global-k" type="text"/>
                    </div>
                </div>
                <div style="display: flex; justify-content: center; align-items: center; width: 35%;">
                    <button id="load-button" type="button" class="btn btn-outline-secondary" onclick="update_k()">Load</button>
                </div>
                
            </div>

            <div id="toolbar-title">LOCAL UPDATING</div>
            <div class="plain-text">
                <div id="update-range" class="update-info-row">
                    <div  class="plain-text update-info-title">
                        <span>Searching range of k: </span>
                        <span id="k-range">[2,3]</span>
                    </div>
                    <div class="update-info-content">
                        <input id="local-k" type="text"/><br/>
                    </div>
                </div>
                <!-- <div id="update-global-local" class="update-info-row">
                    <div  class="plain-text update-info-title">Global or local</div>
                    <div class="update-info-content">
                        <button type="button" class="btn btn-outline-secondary">Global</button>
                        <button type="button" class="btn btn-outline-secondary">Local</button>
                    </div>
                </div> -->
                <div id="update-categories" class="update-info-row">
                    <div class="plain-text update-info-title">Categories</div>
                    <div class="update-info-content">
                        <svg id="categories-checkbox">
                        </svg>
                    </div>
                </div>
                <div id="update-button-div" class="update-info-row">
                    <div class="update-info-button">
                        <button id="update-button" type="button" class="btn btn-outline-secondary" onclick="local_update_k()">Update</button>
                    </div>
                </div>
            </div>

            
            <div id="toolbar-title">FILTERING</div>
            <div class="current-scented-widget-container">
                            <div id="current-label-widget" class="widget-info-widget">
                                <div id="current-label-font" class="plain-text widget-info-font">Categories</div>
                                <svg id="current-label-svg" class="widget-info-svg">
                                    <symbol id="check-select" viewBox="0 0 24 24">
                                        <path d="M10.041 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591zm-5.041-15c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-14c0-1.654-1.346-3-3-3h-14zm19 3v14c0 2.761-2.238 5-5 5h-14c-2.762 0-5-2.239-5-5v-14c0-2.761 2.238-5 5-5h14c2.762 0 5 2.239 5 5z"/>
                                    </symbol>
                                    <symbol id="check-no-select" viewBox="0 0 24 24">
                                        <path d="M5 2c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-14c0-1.654-1.346-3-3-3h-14zm19 3v14c0 2.761-2.238 5-5 5h-14c-2.762 0-5-2.239-5-5v-14c0-2.761 2.238-5 5-5h14c2.762 0 5 2.239 5 5z"/>
                                    </symbol>
                                </svg>
                            </div>
{#                            <div id="current-indegree-widget" class="widget-info-widget">#}
{#                                <div id="current-indegree-font" class="plain-text widget-info-font">Indegree</div>#}
{#                                <svg id="current-indegree-svg" class="widget-info-svg">#}
{#                                </svg>#}
{#                            </div>#}
                            <div id="current-uncertainty-widget" class="widget-info-widget">
                                <div id="current-uncertainty-font" class="plain-text widget-info-font">Uncertain Glyphs</div>
                                <svg id="current-uncertainty-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="current-edgeinfluence-widget" class="widget-info-widget">
                                <div id="current-edgeinfluence-font" class="plain-text widget-info-font">Edge Influence</div>
                                <svg id="current-edgeinfluence-svg" class="widget-info-svg">
                                </svg>
                            </div>

                        </div>


        </div>
{#        <div id="encoding">#}
{#            <div id="toolbar-title">ENCODING</div>#}
{#            <div class="encoding-container" style="margin-bottom: 0">#}
{#                <span class="control-subtitle-font">Labels</span>#}
{#                <svg id="label-glyph-svg" height="50">#}
{##}
{#                </svg>#}
{#            </div>#}
{#            <div class="encoding-container">#}
{#                <span class="control-subtitle-font">Categories</span>#}
{#                <svg id="category-encoding"></svg>#}
{#            </div>#}
{#        </div>#}
</div>