{#<div class="my-panel" @*style="display: none" *@>#}
{#    <div>#}
{#        <span class="my-panel-heading"> Control </span>#}
{#    </div>#}
{#    <hr class="my-panel-seg"/>#}
{#</div>#}
<div id="my-graph-left">
        <div id="setting">
            <div id="toolbar-title">SETTING</div>
            <div class="dataset-container">
                <label id="img_category_label"class="field"for="img_category"data-value="">
                    <span class="pulldown-icon">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope iron-icon"><path d="M7 10l5 5 5-5z" class="pulldown-icon-path"></path></g></svg>
                    </span>
                <span class="control-subtitle-font">Dataset</span>
                    <div id="img_category"class="psuedo_select"name="img_category">

                        <span class="selected"></span>
                        <ul id="img_category_options"class="options">
                            <li class="option"data-value="stl-20-500">stl-20-500</li>
                            <li class="option"data-value="stl-20-2000">stl-20-2000</li>
                        </ul>

                    </div>
            </label>
                <div class="container-legend">
                    <span style='margin-bottom: 2px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 700; color: #333333;'>20 Labeled data</span>
                    <span style='margin-top: 5px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 700; color: #333333;'>1980 Unlabeled data</span>
                </div>
            </div>
            <div class="slider-container">
                <span class="control-subtitle-font">Number of NN (k) for kNN graph</span>
                <div class="range-slider">
                  <input class="range-slider__range" type="range" value="5" min="0" max="50">
                  <span class="range-slider__value">0</span>
                </div>
            </div>
            <div class="slider-container">
                <span class="control-subtitle-font">Edge filter</span>
                <div class="range-slider">
                  <input class="range-slider__range" type="range" value="90" min="0" max="100">
                  <span class="range-slider__value">0</span>
                </div>
            </div>
            <div class="filter-container">
                <ul class="nav nav-tabs" id="widget-chosen">
                    <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#overview-div">Overview</a></li>
                    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#current-div">Current Area</a></li>
                    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#selection-div">Selection</a></li>
                </ul>
                <div class="tab-content">
                    <div id="overview-div" class="tab-pane fade show active">
                        <div class="overview-scented-widget-container">
                            <div id="overview-label-widget" class="widget-info-widget">
                                <div id="overview-label-font" class="widget-info-font">Label</div>
                                <svg id="overview-label-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="overview-uncertainty-widget" class="widget-info-widget">
                                <div id="overview-uncertainty-font" class="widget-info-font">Uncertainty</div>
                                <svg id="overview-uncertainty-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="overview-indegree-widget" class="widget-info-widget">
                                <div id="overview-indegree-font" class="widget-info-font">Indegree</div>
                                <svg id="overview-indegree-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="overview-outdegree-widget" class="widget-info-widget">
                                <div id="overview-outdegree-font" class="widget-info-font">Outdegree</div>
                                <svg id="overview-outdegree-svg" class="widget-info-svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div id="current-div" class="tab-pane fade">
                        <div class="current-scented-widget-container">
                            <div id="current-label-widget" class="widget-info-widget">
                                <div id="current-label-font" class="widget-info-font">Label</div>
                                <svg id="current-label-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="current-uncertainty-widget" class="widget-info-widget">
                                <div id="current-uncertainty-font" class="widget-info-font">Uncertainty</div>
                                <svg id="current-uncertainty-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="current-indegree-widget" class="widget-info-widget">
                                <div id="current-indegree-font" class="widget-info-font">Indegree</div>
                                <svg id="current-indegree-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="current-outdegree-widget" class="widget-info-widget">
                                <div id="current-outdegree-font" class="widget-info-font">Outdegree</div>
                                <svg id="current-outdegree-svg" class="widget-info-svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div id="selection-div" class="tab-pane fade">
                        <div class="selection-scented-widget-container">
                            <div id="selection-label-widget" class="widget-info-widget">
                                <div id="selection-label-font" class="widget-info-font">Label</div>
                                <svg id="selection-label-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="selection-uncertainty-widget" class="widget-info-widget">
                                <div id="selection-uncertainty-font" class="widget-info-font">Uncertainty</div>
                                <svg id="selection-uncertainty-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="selection-indegree-widget" class="widget-info-widget">
                                <div id="selection-indegree-font" class="widget-info-font">Indegree</div>
                                <svg id="selection-indegree-svg" class="widget-info-svg">
                                </svg>
                            </div>
                            <div id="selection-outdegree-widget" class="widget-info-widget">
                                <div id="selection-outdegree-font" class="widget-info-font">Outdegree</div>
                                <svg id="selection-outdegree-svg" class="widget-info-svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{#        <div id="encoding">#}
{#            <div id="toolbar-title">ENCODING</div>#}
{#            <div class="encoding-container" style="margin-bottom: 0">#}
{#                <span class="control-subtitle-font">Labels</span>#}
{#                <svg id="label-glyph-svg" height="50">#}
{##}
{#                </svg>#}
{#            </div>#}
{#            <div class="encoding-container">#}
{#                <span class="control-subtitle-font">Categories</span>#}
{#                <svg id="category-encoding"></svg>#}
{#            </div>#}
{#        </div>#}
</div>