<div class="my-panel" @*style="display: none" *@>
    <div>
        <span class="my-panel-heading"> Graph </span>
    </div>
    <hr class="my-panel-seg"/>
</div>
<div id="my-graph-all">
    <div id="my-graph-left">
        <img src="../static/img/density_mock.png" id="graph-overview"/>
        <div id="graph-toolbar">
            <button id="zoom-out-btn" type="button" class="btn btn-default" style="background-color: transparent; border-width: 0px; outline: none">
                <span class="glyphicon glyphicon-zoom-out" style="color: #3a87ad"></span>
            </button>
        </div>
    </div>
    <svg id="graph-view-svg"></svg>
</div>

