    <div id="toolbar-title" style="margin-top: 0;">Info</div>
    <div class="content-container" style="height: 96.6%">
        <div id = "info-div" data-simplebar>
            <div class="custom-control custom-switch" id="info-control" >
              <input type="checkbox" class="custom-control-input" id="showNearestNeighbors">
              <label class="custom-control-label" for="showNearestNeighbors">Show Nearest Neighbors</label>
            </div>
            <svg id="info">
                <g id="detail-group" opacity="1">
                    <image></image>
                    <polygon></polygon>
                </g>
        </svg>
        </div>
    </div>
