<!DOCTYPE html>
<html lang="en">

    <head>
        <title>SSL</title>
        <link rel="icon" type="image/x-ico" href="../static/favicon.ico">
        <link type="text/css" rel="stylesheet" href="../static/css/lib/d3.css">
        <link type="text/css" rel="stylesheet" href="../static/css/lib/loading-icon.css">
{#        <link type="text/css" rel="stylesheet" href="../static/css/lib/bootstrap-4.0.0.min.css">#}
{#        <link type="text/css" rel="stylesheet" href="../static/css/lib/bootstrap.css">#}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link type="text/css" rel="stylesheet" href="../static/css/lib/bootstrap-4.4.1.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/lib/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="../static/js/lib/contextMenu/contextMenu.css">
        <link type="text/css" rel="stylesheet" href="../static/css/fonts/fonts.css">
        <link href="../static/css/lib/nouislider.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/layout.css">
        <link type="text/css" rel="stylesheet" href="../static/css/graph.css">
        <link type="text/css" rel="stylesheet" href="../static/css/image.css">
        <link type="text/css" rel="stylesheet" href="../static/css/history.css">
        <link type="text/css" rel="stylesheet" href="../static/css/dist.css">
        <link type="text/css" rel="stylesheet" href="../static/css/control.css">
        <link type="text/css" rel="stylesheet" href="../static/css/navigation.css">
        <link type="text/css" rel="stylesheet" href="../static/css/menu.css">
        <meta charset="UTF-8">
    </head>

<!-- <body style="overflow:hidden;"> -->
    <body>
        <div class="self-row" id="main-row">
            <div class="self-column" id="control-column">
                <div class="self-column">
                    {%  include 'control.html' %}
                </div>
            </div>
            <div class="self-column" id="control-graph-column">
                <div class="self-row" id="dist-row">
                    {% include 'dist.html'%}

                </div>
                <div class="self-row" id="graph-row">
                    {% include 'graph.html'%}

                </div>
            </div>
            <div class="self-column" id="history-info-column">
                <div class="self-row" id="history-row">
                    {% include 'history.html'%}
                </div>
                <div class="self-row" id="image-row">
                    {% include 'image.html'%}
                </div>
            </div>
        </div>
    </body>

    <script src="../static/js/lib/d3.js"></script>
    <script src="../static/js/lib/slider.js"></script>
    <script src="../static/js/lib/common.js"></script>
    <script src="../static/js/lib/request_dag.js"></script>
    <script src="../static/js/lib/jquery-3.2.1.js"></script>
    <script src="../static/js/lib/nouislider.js"></script>
    <script src="../static/js/lib/planck.js"></script>
    <script src="../static/js/lib/d3-bubbletreemap.js"></script>
    <script src="../static/js/lib/popper.min.js"></script>
    <script src="../static/js/lib/bootstrap-4.4.1.min.js"></script>
    <script src="../static/js/lib/seedrandom.js"></script>
    <script src="../static/js/lib/d3-lasso.min.js"></script>
    <script src="../static/js/lib/d3-contour.v1.min.js"></script>
    <script src="../static/js/lib/d3-sankey.js"></script>
    <script src="../static/js/lib/d3-scale-chromatic.v1.min.js"></script>
    <script src="../static/js/lib/contextMenu/contextMenu.js"></script>

    <script src="../static/js/data_loader.js"></script>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/graph_transform.js"></script>
    <script src="../static/js/graph_highlight.js"></script>
    <script src="../static/js/graph_helper.js"></script>
    <script src="../static/js/filter.js"></script>
    <script src="../static/js/image.js"></script>
    <script src="../static/js/matrix.js"></script>
    <script src="../static/js/dist.js"></script>
    <script src="../static/js/dist_slider.js"></script>
    <script src="../static/js/history.js"></script>
    <script src="../static/js/helper.js"></script>
    <script src="../static/js/handler.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/control.js"></script>
    <script src="../static/js/interaction.js"></script>
    <script src="../static/js/menu.js"></script>
    <script src="../static/js/main.js"></script>

</html>
