<div class="my-panel" @*style="display: none" *@>
    <div>
        <span class="my-panel-heading"> loss </span>
    </div>
    <hr class="my-panel-seg"/>
    <div id="loss-view">
        <div id="loss-controls">
            <button id="loss-begin-btn" type="button" class="btn btn-default" style="background-color: transparent; border-width: 0px; outline: none">
                <span class="glyphicon glyphicon-play" style="color: #3a87ad"></span>
            </button>
        </div>
        <svg id="loss-view-svg"></svg>
    </div>
</div>

