#my-graph-all {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#my-graph-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    height: 99%;
    /*border-width: 2px;*/
    border-color: #5e5e5e;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    background-color: #fafafa;
}

#my-graph-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

#graph-edit-bar {
    width: 100%;
    flex: 0 1 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /*border-bottom: 1px solid #c1c1c1;*/
}

#graph-view-svg {
}

#graph-view-svg {
    flex: 100 1 auto;
}

#graph-toolbar {
    flex: 0 1 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tool-btn-div {
    /*margin: 10px;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph-legend {
    flex: 0 1 320px;
}

.graph-view-node {

}

.possible {
    /*fill: #EC888C;*/
    r: 5;
}

.selected {
    /*fill: steelblue;*/
    /*r: 7;*/
}

.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}


